header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 25vh;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#game-header {
    height: 150px;
    width: 425px;
    background-color: rgb(3, 9, 115);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(207, 163, 89);
    font-family: gyparody;
    font-size: 95px;
    border-radius: 20px;
    border: 2px solid  rgb(207, 163, 89);
}


#p1, #p2 {
    background-color: rgb(3, 9, 115);
    height: 130px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid  rgb(207, 163, 89);
    color:  rgb(207, 163, 89);
    font-family: gyparody;
    letter-spacing: 2px;
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#p1-score, #p2-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Anton;
    margin-top: 20px;
}

#game-board {
    height: 550px;
    width: 88vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
    row-gap: 4;
    background-color: black;
    border-radius: 10px;;
    grid-auto-flow: column;
}

.board-box, .category {
    background-color: rgb(3, 9, 115);
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.category {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    
}

.board-box {
    color:  rgb(207, 163, 89);
    font-family: Anton;
    font-size: 50px;
}

.board-box:hover {
    cursor: pointer;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal.open {
    display: block;
}

.modal-content {
    background-color: rgb(3, 9, 115);
    border: 2px solid  rgb(207, 163, 89);
    margin: 13% auto;
    padding: 18px;
    width: 85%;
    height: 67%;
    border-radius: 10px;
    animation-name: clueOpen;
    animation-duration: 0.3s;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: rgb(207, 163, 89);
    text-decoration: none;
    cursor: pointer;
}

@keyframes clueOpen {
    from {opacity: 0}
    to {opacity: 1}
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#questionContent {
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 80px 200px auto 200px;
    font-size: 45px;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
}

form > input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    padding-left: 10px;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

form > button {
    height: 38px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(207, 163, 89);
    font-size: 20px;
}

form > button:hover {
    cursor: pointer;
    background-color: rgb(152, 115, 51);
}











