header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 25vh;
}

#game-header {
    height: 150px;
    width: 425px;
    background-color: rgb(9, 9, 157);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(244, 189, 11);
    font-family: gyparody;
    font-size: 95px;
    border-radius: 20px;
    border: 2px solid rgb(244, 189, 11);
}


#p1, #p2 {
    background-color: rgb(9, 9, 157);
    height: 130px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid rgb(244, 189, 11);
    color: rgb(244, 189, 11);
    font-family: gyparody;
    letter-spacing: 2px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#p1-score, #p2-score {
    display: flex;
    justify-content: center;
    align-items: center;
}
#game-board {
    height: 550px;
    width: 88vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 3px;
    row-gap: 3;
    background-color: black;
    border-radius: 10px;;
}

.board-box {
    background-color: rgb(9, 9, 157);
    height: 100%;
    overflow: auto;
    border-radius: 10px;;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

